*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(pexels-pixabay-417173.jpg);
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25vh 25vh 25vh 25vh;
    color: white;
    font-size: xx-large;
}
.rtext{
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    text-align: center;
}
.bottom{
    width: 100%;
    position: relative;
    padding: 0 5vh;
}
.icons{
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 5vh 0;
}
.b0{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    padding: 1vh 0;
    font-weight: bold;
    text-shadow: 4px 6px 6px 0px gray;
}
.b1{
    display: flex;
    min-height: inherit;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: left;
}
.up{
    display: flex;
    flex-direction: column;
    min-height: inherit;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
}
.b2{
    display: flex;
    flex-direction: column;
    min-height: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.b2 .down1{
    background-image: url(darjeeling.webp);
    width: 45vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 2vh;
    border: solid 0.5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 6px 6px 0px gray;
}
.b2 .down2{
    background-image: url(Shimla.cms);
    width: 45vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 2vh;
    border: solid 0.5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 6px 6px 0px gray;
}
.b2 .down3{
    background-image: url(gangtok.jpg);
    width: 45vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 2vh;
    border: solid 0.5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 6px 6px 0px gray;
}
.b3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
}
